


<!DOCTYPE html>

<html lang="en">
<head>
    


    <!-- OneTrust Cookies Consent Notice start -->
    <script type="text/javascript" src="https://cdn.cookielaw.org/consent/d5c32bad-af36-48f5-b36d-4541e98e4232/OtAutoBlock.js" data-document-language="true"></script>
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="d5c32bad-af36-48f5-b36d-4541e98e4232"></script>
    <script type="text/javascript">
        function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end -->


        <!-- Google Tag Manager -->
        <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W54GB97');</script>
        <!-- End Google Tag Manager -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Maxwell D. Baird | Lawyers | Kirkland & Ellis LLP</title>

<meta name="robots" content="index,follow" />
<meta name="title" content="Maxwell D. Baird | Lawyers | Kirkland &amp; Ellis LLP" />
<meta name="description" content="" />
<meta name="keywords" content="" />

<meta property="og:url" content="https://www.kirkland.com/lawyers/b/baird-maxwell" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Maxwell D. Baird | Lawyers | Kirkland &amp; Ellis LLP" />
<meta property="og:description" content="" />

    <meta property="og:image" content="/-/media/professionals/b/baird-maxwellsquare.jpg?rev=6dd516ec6903447a8865f5f215657dbb" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
<meta name="twitter:title" content="Maxwell D. Baird | Lawyers | Kirkland &amp; Ellis LLP">
<meta name="twitter:description" content="">

    <meta name="twitter:image:src" content="/-/media/professionals/b/baird-maxwellsquare.jpg?rev=6dd516ec6903447a8865f5f215657dbb">

    <link rel="canonical" href="https://www.kirkland.com/lawyers/b/baird-maxwell" />


    <meta name="oni_section" content="lawyers">




<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/manifest.json">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">



    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Rubik:300,300i,400,500,700,700i&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');">
    <link href="/assets/public/styles/main.bundle.v-ippcbyjb8gcry4nqc7l1ra.css" media="screen" rel="stylesheet">
    <link href="/assets/public/styles/print.bundle.v-jf7xisn4ngf8p63csyhia.css" media="print" rel="stylesheet">
</head>

<body class="page__people-detail">
    

    <!--stopindex-->
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W54GB97" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

    <header id="site-header" class="site-header   " v-scroll="update"
        v-bind:class="[
    {'site-header--overlay-expanded': showOverlay},
    {'site-header--showcase-expanded': showcaseDetailViewExpanded},
    {'site-header--showcase-expanded-logo': performanceGridTransitionIn},
    {'site-header--modal-open': isModalOpen},
    headroomStyles ]">
    <div class="site-header__body wrapper ">

            <a href="/" class="site-header__brand">
                <img class="site-header__logo" alt="Kirkland & Ellis LLP" src="/assets/public/images/logo-white.svg" width="286" height="25">
                <img class="site-header__logo site-header__logo--black" alt="Kirkland & Ellis LLP" src="/assets/public/images/logo.svg" width="286" height="25">
            </a>

            <nav role="navigation" class="breadcrumbs">
                <ul class="breadcrumbs__options">

                        <li class="breadcrumbs__item">
                            <a title="Navigate to Home" class="breadcrumbs__title" href="/">Home</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a title="Navigate to Lawyers" class="breadcrumbs__title" href="/lawyers">Lawyers</a>
                        </li>

                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__title">Maxwell D. Baird</span>
                    </li>
                </ul>
            </nav>

        <button aria-expanded="false" aria-label="Toggle Site Search" title="Toggle Site Search" class="site-header__search icon-search"
                v-on:click="toggleSiteSearch"
                v-bind:class="{'site-header__search--expanded': showSiteSearch}"></button>
        <button aria-expanded="false" aria-label="Toggle Navigation Menu" class="mobile-toggle" v-on:click="toggleMenu" v-bind:class="{'mobile-toggle--expanded': showMenu}">
            <span class="mobile-toggle__bars"></span>
            <span class="mobile-toggle__label">Menu</span>
        </button>
    </div>
</header>


<div class="print-view-show" style="display:none">
    <a href="/" class="site-header__brand">
        <img class="site-header__logo site-header__logo--black" alt="Kirkland & Ellis LLP" src="/assets/public/images/logo.svg">
    </a>
</div>

<div id="site-overlay" v-bind:class="{'site-overlay--expanded': showOverlay}" class="site-overlay">
<nav id="site-nav" class="site-nav wrapper" v-bind:class="{'site-nav--expanded': showMenu}">
    <div class="site-nav__primary">
        <ul class="site-nav__list site-nav__list--primary" ref="nav">
                <li class="site-nav__item ">
                    <a href="/lawyers" class="site-nav__link">Lawyers</a>
                </li>
                <li class="site-nav__item ">
                    <a href="/services" class="site-nav__link">Services</a>
                </li>
                <li class="site-nav__item ">
                    <a href="/social-commitment" class="site-nav__link">Social Commitment</a>
                </li>
                <li class="site-nav__item ">
                    <a href="/careers" class="site-nav__link">Careers</a>
                </li>
        </ul>

        <ul class="site-nav__list site-nav__list--secondary" ref="subnav">
                <li class="site-nav__item">
                    <a href="/insights" class="site-nav__link">News &amp; Insights</a>
                </li>
                <li class="site-nav__item">
                    <a href="/offices" class="site-nav__link">Locations</a>
                </li>
                <li class="site-nav__item">
                    <a href="/content/about-kirkland" class="site-nav__link">About</a>
                </li>
        </ul>
    </div>

    <div class="site-nav__auxillary" ref="auxillary">
<ul class="social-links print-view-hide">



        <li class="social-links__item">
            <a title="LinkedIn" class="social-links__icon icon-linkedin" href="https://www.linkedin.com/company/kirkland-&amp;-ellis-llp" target="_blank" rel="nofollow"></a>
        </li>


        <li class="social-links__item">
            <a title="Instagram" class="social-links__icon icon-instagram" href="https://www.instagram.com/lifeatkirkland" target="_blank" rel="nofollow"></a>
        </li>

        <li class="social-links__item">
            <a title="YouTube" class="social-links__icon icon-youtube" href="https://www.youtube.com/@Kirkland_Ellis" target="_blank" rel="nofollow"></a>
        </li>
</ul>

        <div class="site-nav__auxillary-info">
            <ul class="site-nav__auxillary-nav">
                    <li class="site-nav__auxillary-option">
                        <a class="site-nav__auxillary-link" href="/alumni-engagement">Alumni</a>
                    </li>
                    <li class="site-nav__auxillary-option">
                        <a class="site-nav__auxillary-link" href="/privacy-and-disclaimers">Privacy &amp; Disclaimers</a>
                    </li>
                    <li class="site-nav__auxillary-option">
                        <a class="site-nav__auxillary-link" href="/content/attorney-advertising-disclaimer">Attorney Advertising</a>
                    </li>
            </ul>
            <span class="site-nav__copyright">&#169; 2026 Kirkland &amp; Ellis LLP</span>
        </div>
    </div>
</nav>



<form id="site-search" class="site-search wrapper" v-bind:class="{'site-search--expanded': showSiteSearch}" method="get" action="/search" autocomplete="off" name="Site Search" role="form">
    <div class="site-search__body">
        <fieldset class="searchbox searchbox__jumbo">
            
            <input aria-label="Search" placeholder="Search" class="searchbox__input" name="keyword" v-model="keywordSearchModel" id="site-search-focus" autocomplete="off">
            <button class="searchbox__button icon-search" type="submit" title="Search"></button>
        </fieldset>
        <div class="site-search__results wrapper" v-bind:class="{'site-search__results--show': showSiteSearchTypeahead}">
            <div class="site-search__result-option" v-for="item in siteSearchTypeahead">
                <a v-bind:href="item.Url" class="site-search__result-link" v-html="item.Name"></a>
            </div>
        </div>
    </div>
</form>
</div>

<div id="back-to-top" class="back-to-top__container print-view-hide" v-bind:class="{'back-to-top__container--active' : visible}" v-scroll="handleUserScroll" v-cloak>
    <button v-on:click="scrollToTop" class="back-to-top__button">
        <svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="back-to-top__svg">
            <rect x="0.5" y="0.5" width="39" height="39" fill="inherit" class="back-to-top__svg-background" />
            <path d="M12.9412 23.3894L19.8599 16.4706" class="back-to-top__svg-arrow" stroke-linecap="square" />
            <path d="M26.9188 23.3894L20 16.4706" class="back-to-top__svg-arrow" stroke-linecap="square" />
        </svg>
        <span class="back-to-top__label">Top</span>
    </button>
</div>

    <div id="people-detail-app">
    
    <main>

<section class="profile-heading ">
    <div class="wrapper">
        <header class="profile-heading__main">
            <h1 class="profile-heading__name">
                <span class="profile-heading__name-label">Maxwell D. Baird</span>
            </h1>
            <div class="profile-heading__experience">
                    <span class="profile-heading__position ">Associate</span>

                    <a href="/services/practices/transactional/real-estate" class="profile-heading__specialty ">Real Estate</a>
            </div>

        </header>

        <div class="profile-heading__body">
            <div class="profile-heading__contact-details">
                    <a href="mailto:maxwell.baird@kirkland.com" class="profile-heading__email">maxwell.baird@kirkland.com</a>

                <div class="profile-heading__locations">
                        <p class="profile-heading__location">
                            <a class="profile-heading__location-link" href="/offices/dallas">Dallas</a>
                            <a href="tel:+1 214 432 4954" class="profile-heading__location-phone">+1 214 432 4954</a>
                        </p>

                    
                    
                    




                </div>
            </div>

<ul class="social-links print-view-hide">

        <li class="social-links__item">
            <a title="PDF" class="social-links__icon icon-TODO" href="https://1npdf11.onenorth.com/pdfrenderer.svc/v1/abcpdf11/GetRenderedPdfByUrl/Baird Maxwell.pdf/?url=https%3a%2f%2fwww.kirkland.com%2flawyers%2fb%2fbaird-maxwell%3fpdf%3d1&amp;attachment=false" target="_blank">
                <span class="social-links__label">PDF</span>
            </a>
        </li>

        <li class="social-links__item">
            <a title="V" class="social-links__icon icon-TODO" href="/lawyers/b/baird-maxwell?format=vcard">
                <span class="social-links__label">V</span>
            </a>
        </li>




</ul>

                <figure class="profile-heading__figure">
                    <img alt="Maxwell D. Baird" class="profile-heading__snapshot" src="/-/media/professionals/b/baird-maxwellsquare.jpg?rev=6dd516ec6903447a8865f5f215657dbb">
                </figure>



<div is="expandable-services" inline-template>
    <div class="expandable-services" v-bind:class="{ 'expandable-services--is-expanded': isExpanded }">
            <button class="expandable-services__toggle print-view-hide" v-on:click="toggleNode">View All Practices</button>



            <div ref="collapsedContent" class="expandable-services__body" v-bind:style="{ height: collapsedHeight }">
                    <div class="listing-services">

                        <h3 class="listing-services__heading">Practices</h3>

                        <ul class="listing-services__items">
                                <li class="listing-services__item">
                                    <a href="/services/practices/transactional/real-estate" class="listing-services__link">Real Estate</a>
                                </li>
                                <li class="listing-services__item">
                                    <a href="/services/practices/transactional/data-centers" class="listing-services__link">Data Centers</a>
                                </li>
                                <li class="listing-services__item">
                                    <a href="/services/practices/transactional" class="listing-services__link">Transactional</a>
                                </li>
                                <li class="listing-services__item">
                                    <a href="/services/practices/transactional/investment-funds" class="listing-services__link">Investment Funds</a>
                                </li>
                                <li class="listing-services__item">
                                    <a href="/services/practices/transactional/real-assets" class="listing-services__link">Real Assets</a>
                                </li>
                        </ul>
                    </div>

            </div>
    </div>
</div>

        </div>
    </div>

    <div class="profile-heading__background" role="presentation" style="background-image: url('/-/media/locations/dallas/dallas_new-bw.png?rev=8fedee3601a1481aa8cd5c038a5e1447')"></div>
</section>


        <div class="section--alternating-bg">
            

    <section class="overview-block section overview-block--bio" aria-label="Overview "
             data-jump-name=overview
             v-scrollwatch:overview="sectionScrollWatch">

        <div class="wrapper section__multi-column">
                <header class="titles__subheading section__column">
                    <h2 class="titles__subheading-title">Overview </h2>
                </header>

            <!--startindex-->
            <div class="overview-block__body section__column-body">



<!--stopindex-->
<div is="read-more" inline-template>
    <div class="read-more read-more--initial-not-expandable" v-bind:class="{
      'read-more--is-expanded': isExpanded,
      'read-more--not-expandable':  !isContentExpandable
      }"
         :id="scrollID"
         v-remove-initial-class="'read-more--initial-not-expandable'">

        <div ref="collapsedContent" class="read-more__window" v-bind:style="{ height: collapsedHeight }" data-readmoreheight="700">
            <div class="rte">
                <!--startindex-->

                Maxwell Baird is a real estate associate in the Dallas office of Kirkland &amp; Ellis LLP. He focuses his practice on complex commercial real estate transactions, including financings, acquisitions, dispositions and joint ventures. Maxwell represents private equity companies, real estate funds, owners, operators and developers in transactions spanning a wide range of asset classes, with an emphasis on data centers and other digital infrastructure assets.
                <!--stopindex-->
            </div>
        </div>
        <button v-cloak v-if="isContentExpandable" class="read-more__button button button-primary " v-on:click="toggleReadMore">
            <span v-if="isExpanded" class="button-primary__label">Less</span>
            <span v-else class="button-primary__label">More</span>
        </button>
    </div>
</div>
<!--startindex-->
            </div>
            <!--stopindex-->
        </div>
    </section>


            
            <!--startindex-->


    <!--stopindex-->
    <section data-jump-name="experience"
             v-scrollwatch:experience="sectionScrollWatch"
             class="related-experience-accordion section section-accordion section--combined-mobile-accordion section-accordion--combined-on-mobile" aria-label="Experience">

        <div class="wrapper section__multi-column">
            <header class="titles__subheading section__column section-accordion__toggle"
                    v-bind:class="{'section-accordion__toggle--is-expanded': isAccordionExpanded('relatedExperience')}">
                <h2 class="titles__subheading-title">
                    <button class="section-accordion__label print-view-hide" v-on:click.prevent="toggleMobileAccordion('relatedExperience')">
                        Experience
                        <span class="section-accordion__icon icon icon-close"><i class="section-accordion__icon-diamond"></i></span>
                    </button>

                    <span style="display:none" class="print-view-show">Experience</span>
                </h2>
            </header>
            <div class="related-experience-accordion__body section__column-body section-accordion__content" id="relatedExperience" ref="relatedExperience">
                <!--startindex-->


    <!--stopindex-->
    <div is="tabby-area" inline-template initial-active-tab-label="Representative Matters">
        <div class="tabby-area" :id="readMoreScrollOverride">
            <div class="tabby-area__nav print-view-hide" ref="tabframenav" v-bind:class="{'tabby-area__nav--show-dropdown': showMobileTabNav}">
                <button class="tabby-area__nav-toggle"
                        v-text="activeTabLabel"
                        v-on:click.prevent="toggleTabDropdown"></button>
                <ul class="tabby-area__nav-options">
                        <li class="tabby-area__nav-item"
                            v-bind:class="{'tabby-area__nav-item--active': isActiveTab(0) }">
                            <button class="tabby-area__nav-label" v-on:click.prevent="setActiveTab(0, 'Representative Matters')">Representative Matters</button>
                        </li>
                </ul>
            </div>
            <div class="tabby-area__frame"
                 ref="tabframe"
                 v-bind:style="{ height: tabFrameHeight }"
                 v-bind:class="{ 'tabby-area__frame--transition': tabProcessingAnimation}">

                    <div class="tab-area-tile"
                         v-bind:class="{'tab-area-tile--active': isActiveTab(0) }">

                        <div style="display:none" class="print-view-show">
                            <h3>Representative Matters</h3>
                        </div>

                        <!--startindex-->


<!--stopindex-->
<div is="read-more" inline-template>
    <div class="read-more read-more--initial-not-expandable" v-bind:class="{
      'read-more--is-expanded': isExpanded,
      'read-more--not-expandable':  !isContentExpandable
      }"
         :id="scrollID"
         v-remove-initial-class="'read-more--initial-not-expandable'">

        <div ref="collapsedContent" class="read-more__window" v-bind:style="{ height: collapsedHeight }" data-readmoreheight="700">
            <div class="rte">
                <!--startindex-->

                <p>CyrusOne in a $1.25 billion CMBS loan secured by a portfolio of six data center properties located in North Carolina, Ohio and Texas.</p>
<p>CyrusOne on a $1.05 billion single-asset, single-borrower CMBS loan secured by one of the company&rsquo;s data center properties in Texas. </p>
<p>Related Digital, a vertically integrated data center development and investment platform, in its lease supporting the development of a $16 billion hyperscale data center in Michigan.</p>
<p>Related Digital in a $14 billion private offering financing, representing the largest historical investment in Michigan and second-largest data center financing executed in the Rule 144A market, related to a data center development.</p>
<p>KKR in its joint venture with Compass Datacenters. </p>
<p>CyrusOne on a $4.2 billion real estate financing arranged by Goldman Sachs Bank USA and secured by a portfolio of seven data center properties located throughout the U.S.</p>
<p>A major data center project sponsor in its $500 million secured bridge facility in connection with its development of a large data center project expected to deliver more than 1 GW of compute capacity.</p>
<p>An investor consortium comprised of AI Infrastructure Partnership, MGX and BlackRock&rsquo;s Global Infrastructure Partners in its $40 billion acquisition of Aligned Data Centers, a provider of data center solutions, from Macquarie Asset Management.</p>
<p>Blue Owl in its acquisition, joint venture and ground lease of the former U.S. Steel South Works site in Chicago, for development of the Illinois Quantum and Microelectronics Park (IQMP), including an anchor&nbsp;build-to-suit  lease to PsiQuantum for a quantum computing facility.  </p>
<p>CyrusOne on a $7.9 billion U.S. warehouse facility and $1.8 billion revolving credit facility, bringing the total debt capital raised to approximately $9.7 billion. </p>
<p>Joint venture between Blue Owl and Crusoe Energy in a $2.3 billion construction loan financing in connection with the development of a 206 MW AI data center located in Texas.</p>
<p>CyrusOne on securing a $687.1 million Single Asset Single Borrower Commercial Mortgage-Backed Security (CMBS) loan for CyrusOne&rsquo;s DFW1 data center, the company&rsquo;s inaugural CMBS issuance.</p>
<p>CyrusOne in a $701 million asset-backed securitization of a portfolio of data centers located in Virginia and Texas.</p>
<p>CyrusOne in connection with a $276 million financing to fund construction and operations of two of CyrusOne&rsquo;s data centers in Houston, Texas.</p>
<p>Blue Owl Capital in its $1 billion acquisition of IPI Partners, a digital infrastructure fund manager, from ICONIQ Capital and Iron Point Partners.</p>
<p>CoreWeave (Nasdaq: CRWV) in its proposed $9 billion all-stock acquisition of Core Scientific (Nasdaq: CORZ), a provider of data center infrastructure.</p>
<p>Talen Energy in the $650 million sale of its nuclear-powered Cumulus data center campus to Amazon Web Services.</p>
<p>Blue Owl in $192 million sale-leaseback with Western Digital and financing of a semiconductor manufacturing facility located near San Jose, California.</p>
<p>Buyer in its acquisition of a controlling interest in $1.2 billion portfolio of net-leased hospitals located in Utah and $770 million financing.</p>
<p>Private equity firm on a $360 million loan, which was used to finance a portfolio of 10 hotel assets located in California, Florida, Georgia, Massachusetts, South Carolina and Washington, D.C., along with a $90 million accordion that may be used to fund future acquisitions.</p>
<p>Global Infrastructure Partners in its investment in Rio Grande LNG&rsquo;s $18.4 billion Phase I development and project financing.</p>
<p>Southwestern Energy Co. (NYSE: SWN) in its merger with Chesapeake Energy Corp. (Nasdaq: CHK) to create $24 billion combined company.</p>
<p>TexGen in the $635 million sale of three gas-fired power plants with a total capacity of 1.5 GW to TotalEnergies (NYSE: TTE).</p>
<p>BlackRock Inc. (NYSE: BLK) in its $550 million equity investment in 1PointFive Stratos Holdings, LLC, a newly formed joint venture with Occidental Petroleum Corp. (NYSE: OXY) to develop STRATOS, the world&rsquo;s largest Direct Air Capture facility, in Ector County, Texas.</p>
<p>Macquarie Asset Management in its sale of Lordstown Energy Center to ArcLight Capital Partners.</p>
<p>HomeServices of America in its $200 million debt facility.</p>
<p>Braemont Capital in its growth equity investment in Vixxo Corporation, a leading provider of tech-enabled facilities maintenance services.</p>
<p>Team, Inc. (NYSE: TISI), a global provider of integrated, digitally enabled asset performance assurance and optimization solutions, in a refinancing of its existing ABL facility with Eclipse Business Capital LLC and term loan credit facility with Corre Partners Management, LLC, providing for incremental available credit of up to $84.9 million.</p>
                <!--stopindex-->
            </div>
        </div>
        <button v-cloak v-if="isContentExpandable" class="read-more__button button button-primary " v-on:click="toggleReadMore">
            <span v-if="isExpanded" class="button-primary__label">Less</span>
            <span v-else class="button-primary__label">More</span>
        </button>
    </div>
</div>
<!--startindex-->
                        <!--stopindex-->

                    </div>
            </div>
        </div>
    </div>
    <!--startindex-->

                <!--stopindex-->
            </div>
        </div>
    </section>
    <!--startindex-->


            


    <!--stopindex-->
    <section data-jump-name="more" v-scrollwatch:more="sectionScrollWatch" class="ancillary-info section section--combined-mobile-accordion section-accordion--combined-on-mobile" aria-label="More">
        <div class="wrapper">
            <header class="titles__subheading sr-only">
                <h2 class="titles__subheading-title">More</h2>
            </header>
            <div class="ancillary-info__body">
                <!--startindex-->

    <div is="accordion"  inline-template>
        <div v-bind:class="{'accordion--is-expanded': isExpanded}" class="accordion">
            <h3 role="button" class="accordion__heading" v-on:click="toggleNode">
                <span class="accordion__title">Credentials</span>
                <span class="accordion__icon icon icon-close">
                    <i class="accordion__icon-diamond"></i>
                </span>
            </h3>
            <div class="accordion__body" ref="bodyContent" v-bind:style="{ height: collapsedHeight }">
                    <div class="accordion__read-more-wrapper">


<!--stopindex-->
<div is="read-more" inline-template>
    <div class="read-more read-more--initial-not-expandable" v-bind:class="{
      'read-more--is-expanded': isExpanded,
      'read-more--not-expandable':  !isContentExpandable
      }"
         :id="scrollID"
         v-remove-initial-class="'read-more--initial-not-expandable'">

        <div ref="collapsedContent" class="read-more__window" v-bind:style="{ height: collapsedHeight }" data-readmoreheight="700">
            <div class="rte">
                <!--startindex-->

                <div class="normalized-rte-list normalized-rte-list--admissions">
	<h4 class="normalized-rte-list__title">
		Admissions & Qualifications
	</h4><ul class="normalized-rte-list__list">
	<li><span class="normalized-rte-list__item normalized-rte-list__admission-year">2022</span><span class="normalized-rte-list__item normalized-rte-list__admission-location">Texas</span></li>
</ul>
</div><div class="normalized-rte-list normalized-rte-list--education">
	<h4 class="normalized-rte-list__title">
		Education
	</h4><ul class="normalized-rte-list__list">
	<li><span class="normalized-rte-list__item normalized-rte-list__item--edu-name">University of Virginia School of Law</span><span class="normalized-rte-list__item normalized-rte-list__item--edu-year normalized-rte-list__item--no-comma">2022</span><div class="normalized-rte-list__item normalized-rte-list__item--edu-details">
		<p><em>Virginia Law &amp; Business Review</em></p>
	</div></li><li><span class="normalized-rte-list__item normalized-rte-list__item--edu-name">University of Texas at Austin</span><span class="normalized-rte-list__item normalized-rte-list__item--edu-degree">B.S., Architectural Studies</span><span class="normalized-rte-list__item normalized-rte-list__item--edu-honors">with Highest Honors</span><span class="normalized-rte-list__item normalized-rte-list__item--edu-year normalized-rte-list__item--no-comma">2017</span></li>
</ul>
</div>
                <!--stopindex-->
            </div>
        </div>
        <button v-cloak v-if="isContentExpandable" class="read-more__button button button-primary " v-on:click="toggleReadMore">
            <span v-if="isExpanded" class="button-primary__label">Less</span>
            <span v-else class="button-primary__label">More</span>
        </button>
    </div>
</div>
<!--startindex-->

                    </div>
            </div>
        </div>
    </div>
                <!--stopindex-->
            </div>
        </div>
    </section>
    <!--startindex-->

            <!--stopindex-->




    <section class="related-insights section section-accordion section--combined-mobile-accordion section-accordion--combined-on-mobile" aria-label="News &<br> Insights"
              v-scrollwatch:newsinsights=sectionScrollWatch 
              data-jump-name="newsinsights" >

        <div class="wrapper section__multi-column">
            <header class="titles__subheading section__column section-accordion__toggle"
                    v-bind:class="{'section-accordion__toggle--is-expanded': isAccordionExpanded('relatedInsights')}">
                <h2 class="titles__subheading-title">
                    <button class="section-accordion__label print-view-hide" v-on:click.prevent="toggleMobileAccordion('relatedInsights')">
                        News &<br> Insights
                        <span class="section-accordion__icon icon icon-close"><i class="section-accordion__icon-diamond"></i></span>
                    </button>
                    <span style="display:none" class="print-view-show">News &<br> Insights</span>
                </h2>
            </header>
            <div class="related-insights__body section__column-body section-accordion__content" ref="relatedInsights">
                <div is="related-entities" inline-template
                     :take="6"
                     :initial-take="5"
                     :total="9"
                     :entity="'dfe4f057-a211-46e0-a875-7bcb4d5c2873'"
                     :endpoint="'/api/sitecore/NewsInsightsApi/RelatedInsightsByProfessional'">
                    <div>
                        <transition-group class="related-insights__grid" name="fade" tag="ul">
                            



                                    <li class="related-insights__grid-item related-insights__grid-item--prominent related-insights__grid-item--1" key="1">
<a href="/news/press-release/2026/07/kirkland-ellis-advises-kkr-and-gip-owned-cyrusone-on-cmbs-financing" class="prominent-card">
        <span class="prominent-card__meta">
                <time class="prominent-card__date">20 July 2026</time>
                            <span class="prominent-card__category">Press Release</span>
        </span>
    <div class="prominent-card__details">
        <span class="prominent-card__title">Kirkland & Ellis Advises KKR- and GIP-Owned CyrusOne on $1.25 Billion CMBS Financing</span>

    </div>
    <canvas id="1ab64261-00a3-4488-ae85-d71ccb885ff5" resize v-wave-card="{lineCount: 30, height: 12 }" class="prominent-card__wave"></canvas>
</a>

                                    </li>
                                    <li class="related-insights__grid-item related-insights__grid-item--2" key="2">
<a href="/news/press-release/2026/05/kirkland-advises-kkr--and-gip-owned-cyrusone-on-1-05b-cmbs-financing" class="insight-card">


    <span class="insight-card__meta ">
            <time class="insight-card__date">20 May 2026</time>
                    <span class="insight-card__category">Press Release</span>
    </span>

    <span class="insight-card__title">Kirkland Advises KKR- and GIP-Owned CyrusOne on $1.05B CMBS Financing</span>

</a>

                                    </li>
                                    <li class="related-insights__grid-item related-insights__grid-item--3" key="3">
<a href="/news/press-release/2026/04/kirkland-advises-rd-on-lease-and-financing-for-hyperscale-data-center-campus-in-michigan" class="insight-card">


    <span class="insight-card__meta ">
            <time class="insight-card__date">30 April 2026</time>
                    <span class="insight-card__category">Press Release</span>
    </span>

    <span class="insight-card__title">Kirkland Advises Related Digital on Lease and Financing for $16 Billion Hyperscale Data Center Campus in Michigan</span>

</a>

                                    </li>
                                    <li class="related-insights__grid-item related-insights__grid-item--4" key="4">
<a href="/news/press-release/2026/04/kirkland-advises-cyrusone-on-upsizing-and-extending-$8-billion-in-loan-facilities" class="insight-card">


    <span class="insight-card__meta ">
            <time class="insight-card__date">03 April 2026</time>
                    <span class="insight-card__category">Press Release</span>
    </span>

    <span class="insight-card__title">Kirkland Advises CyrusOne on Upsizing and Extending $8 Billion in Loan Facilities</span>

</a>

                                    </li>
                                    <li class="related-insights__grid-item related-insights__grid-item--5" key="5">
<a href="/news/award/2025/10/tmt-finance-awards-2025" class="insight-card">


    <span class="insight-card__meta ">
            <time class="insight-card__date">09 October 2025</time>
                    <span class="insight-card__category">Award</span>
    </span>

    <span class="insight-card__title">Kirkland’s Digital Infrastructure Practice Honored at 2025 TMT Finance Awards</span>

</a>

                                    </li>

                            

                            <insight-card-result-with-li v-for="(insight, index) in entityResults" v-bind:insight="insight" v-bind:key="'insightKey-' + index"></insight-card-result-with-li>

                        </transition-group>

                            <button class="related-insights__more button button-primary" v-show="hasMore" v-on:click.prevent="loadMore">
                                <span class="button-primary__label">More</span>
                            </button>

                    </div>
                </div>
            </div>
        </div>
    </section>

        </div>
    </main>

<div is="profile-bar" v-bind:active-scroll-section="activeSectionLabel" inline-template>
    <div id="profile-bar" class="profile-bar print-view-hide"
         v-scroll="handleScroll"
         v-bind:class="{
      'profile-bar--sticky': isFixed,
      'profile-bar--show-dropdown': showNav}">

            <figure class="profile-bar__figure">
                <img alt="Maxwell D. Baird" class="profile-bar__img" src="/-/media/professionals/b/baird-maxwellsquare.jpg?rev=6dd516ec6903447a8865f5f215657dbb">
            </figure>

        <div class="profile-bar__info">
            <div class="profile-bar__name">
                <span>Maxwell D. Baird</span>
            </div>
            <a class="profile-bar__email" href="mailto:maxwell.baird@kirkland.com">maxwell.baird@kirkland.com</a>
        </div>

        <div class="profile-bar__nav-toggle" v-text="toggleLabel" v-on:click="toggleNav"></div>

        <div class="profile-bar__jump-nav">
                <button class="profile-bar__jump-link"
                        v-bind:class="{'profile-bar__jump-link--active': isActiveSection('overview', 'Overview')}"
                        v-on:click.prevent="jumpToSection('overview')">
                    Overview
                </button>
                <button class="profile-bar__jump-link"
                        v-bind:class="{'profile-bar__jump-link--active': isActiveSection('experience', 'Experience')}"
                        v-on:click.prevent="jumpToSection('experience')">
                    Experience
                </button>
                <button class="profile-bar__jump-link"
                        v-bind:class="{'profile-bar__jump-link--active': isActiveSection('more', 'More')}"
                        v-on:click.prevent="jumpToSection('more')">
                    More
                </button>
                <button class="profile-bar__jump-link"
                        v-bind:class="{'profile-bar__jump-link--active': isActiveSection('newsinsights', 'News &amp; Insights')}"
                        v-on:click.prevent="jumpToSection('newsinsights')">
                    News &amp; Insights
                </button>
        </div>
    </div>
</div>

</div>

<footer class="site-footer">
        <div class="prominent-services">
            <ul class="prominent-services__list wrapper wrapper--wide">
                    <li class="prominent-services__option">
                        <a class="prominent-services__link" href="/services/practices/intellectual-property">Intellectual Property</a>
                    </li>
                    <li class="prominent-services__option">
                        <a class="prominent-services__link" href="/services/practices/litigation">Litigation</a>
                    </li>
                    <li class="prominent-services__option">
                        <a class="prominent-services__link" href="/services/practices/restructuring">Restructuring</a>
                    </li>
                    <li class="prominent-services__option">
                        <a class="prominent-services__link" href="/services/practices/transactional">Transactional</a>
                    </li>
            </ul>
        </div>
    <div class="site-footer__main wrapper wrapper--wide">
        <a class="site-footer__logo" href="/" title="Kirkland & Ellis LLP Home"><img src="/assets/public/images/logo-white.svg" alt="Kirkland & Ellis LLP" width="270" height="24"></a>

        <div class="site-footer__locations">
                <nav class="site-footer__regions">
                    <span class="site-footer__regions-label">Asia</span>
                    <ul class="site-footer__locations-list">
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/beijing">Beijing</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/hong-kong">Hong Kong</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/riyadh">Riyadh</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/shanghai">Shanghai</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/tokyo">Tokyo</a>
                            </li>
                    </ul>
                </nav>
                <nav class="site-footer__regions">
                    <span class="site-footer__regions-label">Europe</span>
                    <ul class="site-footer__locations-list">
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/brussels">Brussels</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/frankfurt">Frankfurt</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/london">London</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/munich">Munich</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/paris">Paris</a>
                            </li>
                    </ul>
                </nav>
                <nav class="site-footer__regions">
                    <span class="site-footer__regions-label">U.S.</span>
                    <ul class="site-footer__locations-list">
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/austin">Austin</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/san-francisco">Bay Area</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/boston">Boston</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/chicago">Chicago</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/dallas">Dallas</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/houston">Houston</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/los-angeles">Los Angeles</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/miami">Miami</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/nashville">Nashville</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/new-york">New York</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/philadelphia">Philadelphia</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/salt-lake-city">Salt Lake City</a>
                            </li>
                            <li class="site-footer__locations-item">
                                <a class="site-footer__locations-city" href="/offices/washington-dc">Washington, D.C.</a>
                            </li>
                    </ul>
                </nav>
        </div>

        <div class="site-footer__closing">
<ul class="social-links print-view-hide">



        <li class="social-links__item">
            <a title="LinkedIn" class="social-links__icon icon-linkedin" href="https://www.linkedin.com/company/kirkland-&amp;-ellis-llp" target="_blank" rel="nofollow"></a>
        </li>


        <li class="social-links__item">
            <a title="Instagram" class="social-links__icon icon-instagram" href="https://www.instagram.com/lifeatkirkland" target="_blank" rel="nofollow"></a>
        </li>

        <li class="social-links__item">
            <a title="YouTube" class="social-links__icon icon-youtube" href="https://www.youtube.com/@Kirkland_Ellis" target="_blank" rel="nofollow"></a>
        </li>
</ul>


            <div class="site-footer__closing-options">
                <ul class="site-footer__legal">
                        <li class="site-footer__legal-item">
                                <a class="site-footer__legal-link" href="/content/about-kirkland">About Kirkland</a>
                        </li>
                        <li class="site-footer__legal-item">
                                <a class="site-footer__legal-link" href="/alumni-engagement">Alumni</a>
                        </li>
                        <li class="site-footer__legal-item">
                                <a class="site-footer__legal-link" href="/offices">Locations</a>
                        </li>
                        <li class="site-footer__legal-item">
                                <a class="site-footer__legal-link" href="/content/attorney-advertising-disclaimer">Attorney Advertising</a>
                        </li>
                        <li class="site-footer__legal-item">
                                <a class="site-footer__legal-link" href="/privacy-and-disclaimers">Privacy &amp; Disclaimers</a>
                        </li>
                </ul>
                <span class="site-footer__copyright">&#169; 2026 Kirkland &amp; Ellis LLP</span>
            </div>
        </div>
    </div>
</footer>



    
    <script>
        var styleTags = document.querySelector('body').querySelectorAll('Style')

        if (styleTags.length) {
            console.log("Found " + styleTags.length + " style tags to preserve");

            for (var i = 0; i < styleTags.length; i++) {
                document.head.appendChild(styleTags[i])
            }
        }
    </script>

    <!-- All Vue Inline Template Definitions -->
    



<script type="text/template" id="insight-card-result-with-li">
    <li class="related-insights__grid-item related-insights__grid-item--ajax">
        <a v-bind:href="insight.Url" class="insight-card">
            <span class="insight-card__meta" v-bind:class="{'insight-card__meta--placeholder': !insight.Date && !insight.Category}">
                <time v-if="insight.Date"
                      v-text="insight.Date"
                      class="insight-card__date"></time>
                <span v-if="insight.Category"
                      v-html="insight.Category"
                      class="insight-card__category"></span>
            </span>
            <span v-html="insight.Name"
                  class="insight-card__title"></span>
        </a>
    </li>
</script>




<script type="text/template" id="insight-card-result">
    <a v-bind:href="insight.Url" class="insight-card insight-card_transition-in" v-bind:class="{'insight-card--has-tile-image': insight.TileImage}" v-bind:style="{backgroundImage: insight.TileImage && 'url(' + insight.TileImage + ')' }">
        <span class="insight-card__meta" v-bind:class="{'insight-card__meta--placeholder': !insight.Date && !insight.Category}">
            <time v-if="insight.Date"
                  v-text="insight.Date"
                  class="insight-card__date"></time>
            <span v-if="insight.Category"
                  v-html="insight.Category"
                  class="insight-card__category"></span>
        </span>

        <span v-html="insight.Name"
              class="insight-card__title"></span>

        <div class="showcase-insights__watch" v-if="insight.HasVideoComponent">
            <a class="button button-primary"><span v-html="insight.WatchVideoLabel" class="button-primary__label"></span></a>
        </div>
    </a>
</script>



<script type="text/template" id="person-result">
    <div class="person-result person-result_transition-in">
        <div class="person-result__main">
            <h3 class="person-result__name">
                <a v-if="person.Url" v-bind:href="person.Url" v-text="person.Name"></a>
                <span v-else v-text="person.Name"></span>
            </h3>
            <div class="person-result__level" v-html="person.Position"></div>
            <a class="person-result__email" v-bind:href="'mailto:' + person.Email" v-text="person.Email"></a>
        </div>
        <div v-if="person.Offices.length > 0" class="person-result__offices">
            <div v-for="office in person.Offices" class="person-result__office">
                <h4 class="person-result__office-title">
                    <a v-bind:href="office.Url" v-text="office.Name"></a>
                </h4>
                <a class="person-result__title" v-bind:href="'tel:' + office.Phone" v-text="office.Phone"></a>
            </div>
        </div>
    </div>
</script>



<script type="text/template" id="prominent-card-result">
    <a v-bind:href="insight.Url" class="prominent-card">
        <span class="prominent-card__meta" v-if="insight.Date || insight.Category">
            <time v-if="insight.Date"
                  v-text="insight.Date"
                  class="prominent-card__date"></time>
            <span v-if="insight.Category"
                  v-html="insight.Category"
                  class="prominent-card__category"></span>
        </span>

        <div class="prominent-card__details">
            <span v-html="insight.Name"
                  class="prominent-card__title"></span>
            <span class="prominent-card__button button button-primary" v-if="insight.HasVideoComponent"><span v-html="insight.WatchVideoLabel" class="button-primary__label"></span></span>
        </div>

        <canvas :id="'card-' + this._uid" resize v-wave-card="{lineCount: 30, height: 12}" class="prominent-card__wave"></canvas>
    </a>
</script>



<script type="text/template" id="site-search-result">
    <div class="site-search-result site-search-result_transition-in">
        <div class="site-search-result__main">
            <h3 class="site-search-result__name">
                <a v-bind:href="result.Url" v-html="result.Name"></a>
            </h3>
            <div class="site-search-result__date" v-if="result.DisplayDate" v-html="result.DisplayDate"></div>
            <div class="site-search-result__context" v-html="result.Text"></div>
        </div>
    </div>
</script>




<script type="text/template" id="testimonial-result">
    <li class="testimonial-result testimonial-result__grid-item">
        <figure class="testimonial-result__figure" v-if="testimonial.Photo.ImageUrl"><img class="testimonial-result__img" v-bind:src="testimonial.Photo.ImageUrl" alt="testimonial.Photo.AltText"></figure>
        <div class="testimonial-result__main">
            <h3 class="testimonial-result__name">
                <span v-html="testimonial.Title"></span>
            </h3>

            <div class="testimonial-result__experience" v-if="testimonial.Level || testimonial.Location">
                <span class="testimonial-result__meta" v-if="testimonial.Level" v-html="testimonial.Level"></span>
                <span class="testimonial-result__meta" v-if="testimonial.Location" v-html="testimonial.Location"></span>
            </div>

            <div class="testimonial-result__quote rte" v-if="testimonial.Quote">
                <blockquote class="testimonial-result__blockquote" v-html="testimonial.Quote">
                </blockquote>
            </div>
            <div class="testimonial-result__more-detail">
                <!-- only add class button-primary--play if detail has video -->
                <a class="button button-primary  button-primary--coral" v-bind:class="{'button-primary--play': testimonial.ShowPlayButton}" v-bind:href="testimonial.Url"><span class="button-primary__label" v-html="testimonial.MoreLabel"></span></a>
            </div>
        </div>
    </li>
</script>




    <script src="/assets/public/scripts/main.bundle.v-t14624f5inuzmuf9tsfsaw.js"></script>

    <!--startindex-->
</body>
</html>
